body {
    font-family: sans-serif;
    background-color: #f0f8ff; /* Azul bem claro */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Garante que o footer fique embaixo */
}

header, footer {
    background-color: #e6f7ff; /* Azul mais claro */
    color: #0056b3; /* Azul mais escuro */
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px; /* Espaço para o footer */
}

h1 {
    color: #0056b3;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-family: monospace;
    font-size: 14px;
}

footer {
    margin-top: auto; /* Empurra o footer para baixo */
}

#downloadLink {
    display: inline-block;
    background-color: #28a745; /* Verde */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#downloadLink:hover {
    background-color: #218838;
}

#statusMessage {
  margin-top: 10px;
  font-style: italic;
  color: #777;
}
